<md-dialog aria-label="Dates">
    <form ng-cloak>
        <md-toolbar style="background-color: #0a94b3">
            <div class="md-toolbar-tools">
                <h2>Articles</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg"
                             aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h4>{{task}}</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <ul class="list-inline" style="display: inline-block;">
                            <li>{{dates.data.message[0][0].substring(0, 16)}}</li>
                            <li> - </li>
                            <li>{{dates.data.message[0][1].toFixed(2)}}%</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-primary">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
